*{
    outline: none;
    box-sizing: border-box;
    margin: 0;
}


body{
    display: flex;
    background-color: #F0FFFF;

}



/* *************** sidebar ************* */
.sidebar{
    position: sticky;
    top : 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 80px;
    height: 100vh;  
    padding:0 1.7rem;
    color: #fff;
    transition: all 0.5s linear;
    background: #607D8B;
}   

.sidebar:hover{
    width: 250px;
    transition: 0.5s;
}


.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 6%;
    height: 80%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    display: flex;
    padding: 1rem;
    margin-top: 15px;
    border-radius: 10px;
    transition:  all 0.3s ease-in-out;
}

.menu a{
    color: #fff;
    font-size: 16px;
    display: flex;
    text-decoration: none;
    gap: 1.3rem;
    align-items: center;
}

.menu a span{
    overflow: hidden;
}

.menu a i {
    font-size: 1.3rem;
}

.menu li:hover,
.active{
    background: #e0e0e058;
}



/* ----------------------main-content-------------------- */



#content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    height: 100px;
}

.top1 {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.top2 a {
    font-size: 17px;
    text-decoration: none;

}
.top2{
    display: flex;
    justify-content: center;
    align-items: center;
}


#listproduct{
    margin-top: 30px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 30px;

}


#addProduct{
    margin-top: 30px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.add-table,
#oldImgs{
    margin: 40px 0;
}


.add-table input,
#oldImgs input{
    
    height: 30px;
    font-size: 13px;
    border-radius: 10px;
    width: 170px;

}

.abc{
    min-width: auto;
    width: 100px;
    height: 36px;
    border-radius: 10px;

}
.add-table select option {
    height: 30px;
    font-size: 13px;
    border-radius: 10px;
    width: 50px;
}

.add-table label,
#oldImgs label{
    margin-left: 20px;
    font-size: 15px;
    font-weight: bolder;
    font-family: monospace;
}

#numberPage{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#pagination{
    display: flex;
}

#pagination li{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    list-style: none;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.selected-page{
    color: red;
    font-style: italic;
    font-size: larger;
}

th{
    border: 2px solid black;
}


.container{
    flex-wrap: wrap;
}

th img{
    width: 150px;
}
table {
    width: 100%;
}

button{
    width: 75px;
    height: auto;
}




/*-----TUẤN CSS -----*/


button, input[type="button"]{
    cursor: pointer;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

#orderList{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 1rem;
}

#orderTable{
    padding: 1rem;
}

#userList{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 1rem;
}




.tHead{
    font-size: 20px;
}

tr,td,th{
    border:2px solid black;
    padding: 5px;
    text-align: center;
    
}


td{
    font-size: 18x;
}

.action div{
    background-color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.action-btn-container{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.action-btn-container button{
    flex-basis: 45%;
    font-size: 16px;
}


.action label{
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.action input{
    border-radius: 10px;
    border: solid 2px black;
}



.action input[type=button] {
    /* margin-top: 20px; */
    border: 2px solid black;
    margin-bottom: 30px;
}
#finish_order input[type=button]{
    background-color: salmon;
}


#finish_order label{
    font-size: 25px;
    font-weight: bold;
    margin: 25px 0px 0px 15px;
}

#finish_order input,select,input[type=button]{
    min-width: 250px;
    font-weight: bold;
    margin-left:20px;
    border: 2px solid black;
    padding: 10px;
}

div #finish_order{
    margin: 30px 0;
}

.action h1{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}



#editUser input[type=button]{
    background-color: salmon;
    margin-top: 30px;

}


/* ----------------------------------------Tạo user--------------------------------------  */

#addUser input[type=button]{
    background-color: salmon;
    margin: 30px 40%;

}

.close-btn{
    display: flex;
    justify-items: end;
    border:none;
    background-color: #fff;
    font-size: 25px;
    font-weight: bold;
}



.addUser-btn{
    width:20%;
    margin: 45px 0;
    padding:10px;
    border:2px solid #ddd;
    font-size:18px;
    font-weight: bold;
}

#orderTable td,th{
    width:15%;
    min-height: 100px;
}



/* -----------------------------Chỉnh Sửa Admin -----------------------------------*/

#adminAccount{
    background-color: #fff;
    margin: 30px 0;
    border-radius: 20px;
    padding: 1rem;
}


.admin-cotainer{
    margin-top: 20px;
}

.admin-container{
    display:flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 20px;
}

.admin-container label{
    font-size: 18px;

}



.admin-container input{
    border: 2px solid black;
    font-size: 18px;

}

.action-container button{
    margin-left: 20px ;
    font-size: 15px;
    font-weight: bold;
    width: 60px;
    height: 60px;   
}


/* CSS BẢNG THỐNG KÊ*/
#stat-btn{
    background-color: #fff;
    width:fit-content;
}

#stat-btn:hover{
    background-color: grey;
}

.getDate-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 40px;
    row-gap: 2rem;
  
}

#statTable th,td,tr{
    padding: 10px;
    font-size: 20px;
}

.dateLabel{
    font-size: 25px;

}

#statistics{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 2rem;
}

.containerChild{
    display:flex;
}
