@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Medium.ttf);
}

body {
  margin: 0;
  background-color: pink;
}

* {
  box-sizing: border-box;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  /* min-height: 1200px; */
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  height: fit-content;
}

.cart {
  display: flex;
  justify-content: center;
  width: 12%;
  height: auto;
}

.cart img {
  width: 39%;
  height: auto;
}

.user-ico {
  display: flex;
  justify-content: center;
  width: 12%;
  height: auto;
}

.user-ico img {
  width: 39%;
  height: auto;
}

.flex-container {
  display: flex;

}

.middle-content {
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.banner {
  width: 100%;
  height: auto;
  margin-top: 10px;
  position: relative;
  display: block;
}

.main-content {
  position: relative;
  width: 100%;
  min-height: 200px;

}

.content {
  position: absolute;
  top: 60px;
  width: 90%;
  margin-left: 5%;
  z-index: 999;
  background-color: rgb(99, 125, 125);
  box-shadow: 5px;
  min-height: 300px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 19%;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 1px solid #8686864a;
  position: relative;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 52%);
  transition: 0.3s;
  border-radius: 5px;
  /* z-index: 2; */
}

.card img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  object-fit: contain;
}

.card:hover img {
  transform: rotate(20deg);
}

.hidden {
  display: none;
}


.card-body {
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid black;
  position: relative;
  overflow: hidden;
  height: 250px;
}

.card-footer {
  text-align: center;
  position: relative;
  min-height: 75px;
}

.card a {
  text-decoration: none;
  color: black;
}

.card-overlay{
  width: 80%;
  height:20%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  transition:0.5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.card:hover .card-overlay{
  display: block;
  opacity: 1;
}

.card-overlay .overlay-item{
  background-color: #fff;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.card-overlay .overlay-item a{
  cursor: pointer;
}
.card-overlay .overlay-item a:hover{
  color: #04AA6D;
}

/* ProductInfo */
.modal{
  display:flex;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 10;
	overflow-y: auto;
}

#productInfo #info{
	height: 600px;
	width: 1000px;
	background-color: #fff;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	padding: 50px 20px 20px;
	position: relative;
	animation: topdown 0.5s;
	z-index: 20;
  border-radius: 20px;
  gap:50px;
}

#productInfo #info .close{
	position: absolute;
	right: 15px;
	top: 0px;
	font-size: 35pt;
	transform: rotate(45deg);
	background-color: transparent;
	cursor: pointer;
	outline: none;
  border: none;
}
#productInfo #info .close:hover{
	color: #c9cbce;
}
#productInfo #info .left{
	width: 450px;
  height: 100%;
	align-self: center;
}
#productInfo #info .left #imgbig{
	width: 100%;
  height: 100%;
  object-fit: contain;
}
#productInfo #info .right{
	height: 100%;
	width: 450px;
}

.right .right-flex{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom:20px ;
}

#productInfo #info .right #productname{
	font-size: 25px;
	margin:10px 0;
}

#productInfo #info .right #share-buttons{
  display: flex;
  align-items: center;
}

#productInfo #info .right #share-buttons i {
  width: 100%;
  font-size: 30px;
}
.facebook {
    color: #3b5998;
    width: 30px;
    margin-right:10px;
}
.twitter {
    color: #55acee;
    width: 30px;
    margin-right:10px;
}

.reddit {
    color: #cb2027;
    width: 30px;
    margin-right:10px;
}

.telegram {
    color: #229ED9;
    width: 30px;
    margin-right:10px;
}

.facebook:hover, .twitter:hover, .reddit:hover, .telegram:hover {
  opacity: 0.6;
}

#productInfo #info .right .callphone a{
   color:#ffb200;
}

#productInfo #info .right #productprice{
	font-size: 25px;
	margin: 20px 0;
}
#productInfo #info .right #size{
	font-size: 16pt;
	padding: 5px 30px;
	border: 2px solid #ced4da;
	margin: 10px 0 20px;
  border-radius: 30px;
}
#productInfo #info .right #quantity{
  border: 0;
	font-size: 16pt;
	width: 80px;
	height: 40px;
	padding: 5px;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
	margin: 10px 0 20px;
	text-align: center;
}
#productInfo #info .right .quantitydown{
  border: 1px solid #ced4da;
	display: inline-block;
	font-size: 16pt;
	color: #000;
	width: 50px;
	height: 40px;
	border-right: none;
  border-radius: 999px 0 0 999px;
	background-color: #fff;
	outline: none;
	cursor: pointer;
}
#productInfo #info .right .quantityup{
  border: 1px solid #ced4da;
	display: inline-block;
	font-size: 16pt;
	color: #000;
	width: 50px;
	height: 40px;
	border-radius: 0 999px 999px 0;
	border-left: none;
	background-color: #fff;
	outline: none;
	cursor: pointer;
}
#productInfo #info .right .quantityup:active , #productInfo #info .right .quantitydown:active{
	background-color: #ff4700;
	color: #fff;
}
#productInfo #info .right .addtocart{
	display: block;
	cursor: pointer;
	font-size: 16pt;
	padding: 10px 30px;
	background-color: #088178;
	color: #fff;
	border: 2px solid #fff;
  border-radius: 30px;
  margin-bottom: 30px;
}
#productInfo #info .right .addtocart:hover{
	background-color: #033531;
	color: #fff;
	border: 2px solid #fff;
}

#productInfo #info .right .r-note{
  display: flex;
  align-items: center;
  gap:15px;
}

#productInfo #info .right .r-note i{
  color: #cb2027;
}



/* Login */
.login-place {
  display: flex;
  justify-content: right;
}

.login-button {
  border: 1px solid black;
  border-radius: 5px;
  min-width: 100px;
  text-align: center;
  padding: 5px;
  margin-left: 5px;
  height: fit-content;

}

.login-button:hover {
  background-color: black;

}

.login-button a {
  text-decoration: none;
  color: black;
}

.login-button a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.topbar {
  display: block;
  margin-top: 2px;
}

.search-bar {
  width: 50%;
  position: relative;
  border: 2px solid rgb(118, 118, 118);
  border-style: inset;
  padding: 0px 10px;
  border-radius: 50px;
}

.search-bar input {
  border-radius: 50px;
  padding: 5px;
  font-size: 14px;
  width: 100%;
  height: 38px;
  /* margin-left: 44px; */
  border: none;
}

.search-bar input:focus {
  outline: none;
}

.search-bar img {
  width: 7%;
  height: auto;
  position: absolute;
  right: 13px;
  top: 5px;
}

.logo {
  width: 32%;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  margin: none;
}

.advand-search-content{
  min-height: 75px;
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 15px;
  background-color: antiquewhite;
}
.advand-search-item{
  width: 50%;
  margin-bottom: 5px;
}
.advand-search-item label{

}
.advand-search h5{
  margin: 5px 0px 5px 0px;
}

.left-header{
  width: 90%;
  justify-content: space-around;
}
.logo h2 {
  margin-top: auto;
  margin-bottom: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.dot-place {
  position: absolute;
  bottom: 40px;
  left: 47.9%;
}

.title-content {
  display: flex;

}

.title-content a{
  font-family: cursive;
  border: none;
  background-color: white;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.title-content h2 {
  border-bottom: 5px solid red;
  font-weight: normal;
  font-family: roboto;
}

.footer {
  border-top: 1px solid rgb(159, 159, 159);
  margin-top: 15px;
  /* position: fixed;
   bottom: 0;
   width: 100%; */
}

.copyright {
  text-align: center;
}

.footer-item {
  width: 33.3%;
  text-align: center;
}

.width-100 {
  width: 100%;
  height: auto;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.menu-ico {
  display: none;
}

.menu-ico img {
  width: 100%;
  height: auto;
}

.menu {
  margin-top: 5px;
  margin-bottom: 5px;
}

.justify-content-center {
  justify-self: center;
  align-content: center;
}

.menu-item button{
  background-color: #04AA6D;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
}

.menu-item button:hover{
  background-color: #3e8e41;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagi-item{
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    /* font-weight: 500; */
    color: rgb(53, 53, 53);
    background: #ffffff;
    margin-right: 3px;
    border: 1px solid #dedede;
    border-radius: 3px;
}
.pagi-item:hover{
  background: #6951ee; 
  color: white; 
}
.pagi-item.active{
  background-color: #6951ee;
  color: #ffffff;
}

/* Style the list */
ul.breadcrumb {
  margin: 0px 0px 0px 10px;
  padding: 5px 0px;
  list-style: none;
  /* background-color: #eee; */
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.listcard{
  justify-content: flex-start;
}

.advand-search{
  display: none;
  /* position: absolute; */
}

@keyframes topdown{
  0% {transform: translateY(-800px)}
  100% {transform: translateY(0)}
}

.pagination a:hover:not(.active) {background-color: #ddd;}


.mainmenu{
  margin-top: 5px;
}

.hidden-menu{
  display: none;
}

@media only screen and (min-width:478px) and (max-width: 828px) {
  /* Chi tiết sản phẩm */
  #productInfo #info{
  width: 80%;
  height: 70%;
  margin: 80px auto;
  }

  #productInfo #info .close{
  right:30px;
}

  #productInfo #info .left{
    width: 40%;
    text-align: center;
    height: 25%;
}

 #productInfo #info .left #imgbig{
  width: 90%; 
  height: 200px;
}

#productInfo #info .right{
  height: 80%;
  width: 50%;
}
}

@media only screen and (max-width: 1100px) {

  .card{
    width: 24%;
  }
  }

@media only screen and (max-width: 1000px) {
  .logo {
    width: 70%;
  }
  #menu {
    display: none;
  }
  .menu-ico {
    display: block;
    width: 20%;
  }
  .menu-ico img{
    width:  40px;
  }
  .card {
    width: 32%;
  }
  .hidden-menu{
    display: block;
  }
  .menu-item{
    width: 100%;
    text-align: center;
  }
  .abc{
    flex-direction: column;
  }
  .menu-item button{
    width: 100%;
  }

  .footer .container{
    display: block;
  }
  .footer-item{
    width: 100%;
  }
}

@media only screen and (max-width: 763px) {
  .topbar {
    display: none;
  }

  /* #menu {
    display: none;
  } */

  .header{
    margin-top: 5px;
  }
  .logo {
    width: 70%;
  }

  .card {
    width: 47%;
  }

  .card:hover img {
    transform: none;
  }

  .menu-ico {
    display: block;
    width: 20%;
  }

  /* .menu-ico img {
    width: 65%;
  } */

  /* Chi tiết sản phẩm */
  #productInfo #info{
  width: 100%;
  height: 100%;
  padding: 30px 10px 10px;
  margin: 0;
  overflow-y: auto;
  }

  #productInfo #info .close{
  right:30px;
}

  #productInfo #info .left{
    width: 100%;
    text-align: center;
    height: 25%;
}

 #productInfo #info .left #imgbig{
  width: 90%; 
  height: 200px;
}
}

.menu-item button.activeMenu{
  border-bottom: 3px solid black;
}

